.main-navigation{
    background-color: @educell-grey;
    border-bottom: 2px solid @educell-color;
    width: 100%;
    .nav-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @media @medium{
            justify-content: center;
        }

        .logo-container{
            display: flex;
            justify-content: flex-start;
            .logo {
                width: 15em;
                height: 8em;
                padding-top: 1rem;
                margin-bottom: 0.5rem;
                object-fit: contain;
                @media @medium{
                    margin-right: 14em;
                    margin-left: 14em;
                }
            }
        }
        .nav{
            display:flex;
            justify-content: space-evenly;
            align-content: center;
            align-items: center;
            margin: 0.15rem;
            padding: 0.15rem;
            font-size: 1.7em;
            
            @media @phone{
                font-size: 1.5em
            }

            .nav-link{
                margin: 1em 0 0.5em 0;
                text-decoration: none;
                color: white;
                padding: 1.5rem;
                &:hover {
                    color: @educell-grey;
                    background-color: @educell-color;
                    border-radius: 4em;
                    transition: 0.4s ease-out;
                }
                @media @medium{
                    margin-top: 0;
                }
            }
            
        }
    }
}