//between desktop and mobile
@medium: (max-width: 800px);

// Mobile var
@phone: (max-width: 500px);

@educell-color:  #680000;
@educell-grey: rgba(169,169,169, 0.7);
@fancolor: #A9A9A9;

@headingfont: 'Roboto', sans-serif;
@bodyfont: 'Raleway', sans-serif;